<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NotMega</title>
  <meta name="Links for Mega.co.nz" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-responsive.css">
  <style>
    html {
      min-width:490px;
    }
    .navpad {
      padding-top: 50px;

    };
  </style>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/parsley.css">
  <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

<% if (typeof order === 'undefined') order ="date desc"; %>
<% if (typeof page === 'undefined') page=1; %>
<% if (typeof pagesize === 'undefined') pagesize=10; %>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <!-- <a class="brand" href="#">NotMega</a> -->
            <a href="/?page=1&order=date desc" class="pull-left"><img src="img/mega.png" alt="NotMega"></a>
            <form class="navbar-form navbar-search pull-left" action="/search" method="get">
              <input type="text" class="search-query" placeholder="Search links" name="name">
            </form>

            <a href="#linkadd" role="button" class="btn btn-primary btn-custom-width pull-right" style = "width: 160px;" data-toggle="modal">Add a link!</a>
              
        </div>
    </div>
</div>

<div class="container navpad">
  <% if (typeof tos === 'undefined'|tos == false) {%>
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Notice!</strong> By using this site, you agree to abide by our <a href="#tos" data-toggle="modal">Terms Of Service</a>.
  </div>
  <%}%>
  <% if (typeof error != 'undefined') {%>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> <%=error%>.
  </div>
<%}%>
<% if (typeof success != 'undefined') {%>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Success!</strong> <%=success%>
  </div>
<%}%>
  <div id="container-repo">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          
          <th style="width: 14%">
             <%if(order=="date asc"){%><a href="/?order=date desc">Date <i class="icon-chevron-up"></i></a>
            <%}else if(order=="date desc"){%><a href="/?order=date asc">Date <i class="icon-chevron-down"></i></a>
            <% } else {%><a href="/?order=date asc">Date</a> <%}%>
          </th>
          <th style="width: 10%">
            <%if(order=="catg asc"){%><a href="/?order=catg desc">Category <i class="icon-chevron-up"></i></a>
            <%}else if(order=="catg desc"){%><a href="/?order=catg asc">Category <i class="icon-chevron-down"></i></a>
            <% } else {%><a href="/?order=catg asc">Category</a> <%}%>
          </th>
          <th>
            <%if(order=="name asc"){%><a href="/?order=name desc">Link <i class="icon-chevron-up"></i></a>
            <%}else if(order=="name desc"){%><a href="/?order=name asc">Link <i class="icon-chevron-down"></i></a>
            <% } else {%><a href="/?order=name asc">Link</a> <%}%>
          </th>
          <th style="width: 5%">
            Options
          </th>
          
        </tr>
      </thead>
      <tbody>
        <% for(var i=0;i<rows.length;i++) {%>
        <tr>
          <!-- <td><%=(page-1)*pagesize+i+1%></td> -->
          <td><%=rows[i].date.toString().slice(4,15)%></td>
          <td><%=rows[i].catg%></td>
          <td><a href="<%=rows[i].link %>"><strong><%=rows[i].name%></strong></a> </td>
          <td>
            <a href="/report/?id=<%=rows[i].fid %>" rel="tooltip" data-placement="left" data-original-title="Report"> <i class="icon-ban-circle"> </i> </a>
            <!-- <i class="icon-pencil"></i> -->
            <a href="/remove/?id=<%=rows[i].fid %>" rel="tooltip" data-placement="right" data-original-title="Remove"> <i class="icon-trash"> </i> </a>
          </td>
          
        </tr>
        <%}%>
      </tbody>
    </table>
</div>
<!-- Pagination! -->
<div class="pagination pagination-large pagination-centered">
  <ul>
    <%if(page<=1){%><li class="deactive"><span>Prev</span></li>
    <%} else {%> <li><a href="/?page=<%=page-1%>">Prev</a></li> <%}%>
    <li><a href="/?page=<%=page%>"><%=page%></a></li>
    <% if(rows.length<pagesize){%> <li class="deactive"><span>Next</span></li> 
    <%} else {%> <li><a href="/?page=<%=++page%>">Next</a></li> <%}%>
  </ul>
</div>

<p class="muted" style="text-align: center">
  <a href="#tos" data-toggle="modal">Terms Of Service</a>
</p>
</div><!-- /container -->


<!-- Modal -->
  <div id="linkadd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="linkadd" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add a Link</h3>
    </div>
    <form  name="linkadd" method="post" action="/add" class="form-horizontal" data-validate="parsley">
    <div class="modal-body">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="name">Title</label>
            <div class="controls">
              <input type="text" class="input-large" id="name" name="name" placeholder="Title" data-minlength="2" data-required="true" data-trigger="change" required>
            </div>
          </div>
          <!-- <div class="control-group">
            <label class="control-label" for="descr">Description</label>
            <div class="controls">
              <textarea type="message" class="input-large" id="descr" name="descr" placeholder="Info about the link" data-rangelength="[0,200]"></textarea>
            </div>
          </div> -->
          <div class="control-group">
            <label class="control-label" for="link">Link</label>
            <div class="controls">
              <input type="text" class="input-large" id="link" name="link" placeholder="Enter link here" data-type="urlstrict" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="category">Category</label>
            <div class="controls">
              <select name="catg">
                <option value="Video">Video</option>
                <option value="Audio">Audio</option>
                <option value="Images">Images</option>
                <option value="Games">Games</option>
                <option value="Ebooks">Ebooks</option>
                <option value="Documents">Documents</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-primary">Add Link</button>
    </div>
    </form>
  </div>

<div id="tos" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="tos" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Web Site Terms and Conditions of Use</h3>
    </div>
    <form  name="tos" method="post" action="/add" class="form-horizontal" data-validate="parsley">
    <div class="modal-body">
    <h4><i>Each section has a tl;dr for easy reading!<i></h4>

    <dl>
      <dt>1. Terms</dt>
      <dd>
        By accessing this web site, you are agreeing to be bound by these Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, feel free to fuck off.
        <br />
        <i>Tl;dr - Obey or GTFO</i>
      </dd>

      <dt>2. Usage License</dt>
        <dd>
          Permission is granted to post and peruse links to file content hosted on mega.co.nz. While using this site, you may not:
          <ul>
            <li>Knowingly provide or access any content which is illegal in the US or as stated by your local laws, including but not limited to:
            <ul>
              <li>Child pornography</li>
              <li>Copyrighted works</li>
              <li>Blatantly harmful or obscene content with no discernable intellectual merit</li>
              <li>Furfag porn</li>
            </ul>
            </li>
            <li>Use our shit for any commercial purpose, or attempt to decompile or reverse engineer our super sexy code or software</li>
          </ul>
        This license shall automatically terminate if you violate any of these restrictions and may be terminated by Not Mega at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format. Delete gym, hit the Facebook.
        <br />
        <i>Tl;dr – Don’t do illegal shit or try to break or steal our stuff</i>
        </dd>
        
      <dt>3. Disclaimer</dt>
      <dd>
        The materials on Not Mega's web site are provided "as is." You get no warranties. Do not pass Go, do not collect $200. Crap on this website might not even be accurate, complete or even up-to-date. Not Mega is not liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Not Mega's Internet site, even if Not Mega or a Not Mega authorized representative has been notified orally or in writing of the possibility of such damage. 
        <br />
        <i>Tl;dr – No warranties, money or blowjobs for you</i>
      </dd>

      <dt>6. Links</dt>
      <dd>
        Not Mega has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Not Mega of the site. Use of any such linked web site is at the idiot user's own risk.
        <br />
        <i>Tl;dr - Gay porn sites might link to us, but we don’t care</i>
      </dd>

      <dt>7. Site Terms of Use Modifications</dt>
      <dd>
        Not Mega may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
        <br />
        <i>Tl;dr - This shit may change</i>
      </dd>

      <dt>8. Governing Law</dt>
      <dd>
        Any claim relating to Not Mega's web site shall be governed by the laws of the State of New York without regard to its conflict of law provisions.
        <br />
        <i>Tl;dr - New York be super cool</i>
      </dd>

      <dt>Privacy Policy</dt>
      <dd>
        We will collect personal information only as necessary to run our site. We won't sell your info, give it away, use it to stalk you, or give it to our weird friend Eddie for him to masturbate to.
        <br />
        <i>Tl;dr – Your anus is safe with us</i>
      </dd>
    </dl>
    </div>  
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
    </form>
  </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="/js/jquery-ui.min.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/parsley-standalone.min.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-37623599-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        $("a").tooltip();
      });
    </script>
  </body>
</html>
