<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NotMega</title>
  <meta name="Links for Mega.co.nz" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-responsive.css">
  <style>
    html {
     
    }
    body {
        padding-top: 60px;
        padding-bottom: 40px;
        
    }
  </style>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/jquery-ui.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/css/parsley.css">

  <script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body>

      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

<% if (typeof page === 'undefined') page=1 %>
<% if (typeof pagesize === 'undefined') pagesize=10 %>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">NotMega</a>
            <div class="nav-collapse collapse">
              <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
              </ul>  

              <a href="#linkadd" role="button" class="btn btn-primary pull-right span2" data-toggle="modal">Add a link!</a>
              
              <form class="navbar-search" action="/search" method="get">
                <input type="text" class="search-query span3" placeholder="Search links" name="name">
              </form>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
      <div id="container-table">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th style="width: 5%"></th>
              <th style="width: 5%"><i class="icon-chevron-up"></i></th>
              <th style="width: 10%">Category <i class="icon-chevron-up"></th>
              <th>Link <i class="icon-chevron-up"></th>
              <th style="width: 5%">Options</th>
              <th style="width: 5%"></th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0;i<rows.length;i++) {%>
            <tr>
              <td></td>
              <td><%=(page-1)*pagesize+i+1%></td>
              <td><%=rows[i].catg%></td>
              <td><a href="<%=rows[i].link %>"><strong><%=rows[i].name%></strong></a> </td>
              <td><i class="icon-ban-circle"></i> <i class="icon-pencil"></i> <i class="icon-trash"></i> </td>
              <td></td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<!-- Pagination! -->
<div class="pagination pagination-large pagination-centered">
  <ul>
    <%if(page<=1){%><li class="deactive"><span>Prev</span></li>
    <%} else {%> <li><a href="/?page=<%=page-1%>">Prev</a></li> <%}%>
    <li><a href="/?page=<%=page%>"><%=page%></a></li>
    <% if(rows.length<pagesize){%> <li class="deactive"><span>Next</span></li> 
    <%} else {%> <li><a href="/?page=<%=++page%>">Next</a></li> <%}%>
  </ul>
</div>

<p class="muted pull-right"> Terms of service shit here? <a href="http://www.google.com/search?q=tos">TOS</a> and <a href="http://www.google.com/search?q=DMCA">DMCA</a>.</p>

</div><!-- /container -->


<!-- Modal -->
  <div id="linkadd" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="linkadd" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add a Link</h3>
    </div>
    <form  name="linkadd" method="post" action="/add" class="form-horizontal" data-validate="parsley">
    <div class="modal-body">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="name">Title</label>
            <div class="controls">
              <input type="text" class="input-large" id="name" name="name" placeholder="Title" data-minlength="2" data-required="true" data-trigger="change" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="descr">Description</label>
            <div class="controls">
              <textarea type="message" class="input-large" id="descr" name="descr" placeholder="Info about the link" data-rangelength="[0,200]"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="link">Link</label>
            <div class="controls">
              <input type="text" class="input-large" id="link" name="link" placeholder="Enter link here" data-type="urlstrict" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="category">Category</label>
            <div class="controls">
              <select name="catg">
                <option value="Video">Video</option>
                <option value="Games">Games</option>
                <option value="books">Books</option>
                <option value="TV">TV</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
        </fieldset>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button type="submit" class="btn btn-primary">Add Link</button>
    </div>
    </form>
  </div>
<% if (typeof error != 'undefined') {%>
  <div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong> Best check yo self, you're not looking too good.
  </div>
<%}%>
<% if (typeof success != 'undefined') {%>
  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Link added!</strong> <%=success%>
  </div>
<%}%>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="/js/jquery-ui.min.js"></script> 
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/parsley-standalone.min.js"></script>
    <script>
        var _gaq=[['_setAccount','UA-37623599-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
